[submodule "vis/.config/vis/edconf"]
	path = vis/.config/vis/edconf
	url = https://github.com/seifferth/vis-editorconfig.git
[submodule "vis/.config/vis/vis-ctags"]
	path = vis/.config/vis/vis-ctags
	url = https://github.com/kupospelov/vis-ctags.git
